@model List<EcoTribe.BusinessObjects.ViewModels.LocationViewModel>

@{
    ViewData["Title"] = "Locations";
}

<h2>Locations</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model)
        {
            <tr>
                <td>@location.Id</td>
                <td>@location.Name</td>
                <td>@location.City</td>
                <td>@location.Latitude</td>
                <td>@location.Longitude</td>
                <td>@(string.IsNullOrEmpty(location.Description) ? "N/A" : location.Description)</td>
            </tr>
        }
    </tbody>
</table>


